services:
  webhook:
    image: ${WEBHOOK_IMAGE}
    container_name: ${CONTAINER_HOSTNAME}
    hostname: ${CONTAINER_HOSTNAME}
    domainname: ${CONTAINER_DOMAIN_NAME}
    ports:
      - "${WEBHOOK_PORT:-9000}:${WEBHOOK_PORT:-9000}"
    networks:
      webhook_network:
        ipv4_address: ${IP_ADDRESS:-}
    restart: always
    environment:
      NOBLEFACTOR_WEBHOOK_LOCATION: ${LOCATION}
      PUID: 1000
      PGID: 0
      WEBHOOK_PORT: ${WEBHOOK_PORT:-9000}
    healthcheck:
      test: ["CMD-SHELL", "curl --fail --silent --output /dev/null --show-error --write-out \"Total time: %{time_total}s\\n\" http://localhost:${WEBHOOK_PORT:-9000}/health || exit 1"]
      interval: 60s
      retries: 5
      start_period: 300s
      timeout: 2s
    logging:
      driver: json-file
      options:
        max-size: "10mb"
        max-file: "1"
    security_opt:
      - apparmor:unconfined

networks:
  webhook_network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.28.0.0/16
