services:
  webhook:
    image: ${WEBHOOK_IMAGE}
    container_name: ${CONTAINER_HOSTNAME}
    hostname: ${CONTAINER_HOSTNAME}
    domainname: ${CONTAINER_DOMAIN_NAME}
    ports:
      - "${WEBHOOK_PORT:-9000}:${WEBHOOK_PORT:-9000}"
    networks:
      docker_network:
        ipv4_address: ${IP_ADDRESS:-}
    restart: always
    environment:
      NOBLEFACTOR_WEBHOOK_LOCATION: ${LOCATION}
      WEBHOOK_PORT: ${WEBHOOK_PORT:-9000}
      PUID: ${WEBHOOK_PUID:-}
      PGID: ${WEBHOOK_GUID:-}
      KEYVAULT_URL: ${WEBHOOK_KEYVAULT_URL:-}
      SECRET_NAME: ${WEBHOOK_SECRET_NAME:-}
    healthcheck:
      test: ["CMD-SHELL", "status=$(curl --silent -o /dev/null -w '%{http_code}' http://localhost:${WEBHOOK_PORT:-9000}/) ; [ \"$status\" -eq 200 ] || exit 1"]
      interval: 60s
      retries: 5
      start_period: 300s
      timeout: 2s
    logging:
      driver: json-file
      options:
        max-size: "10mb"
        max-file: "1"
    security_opt:
      - apparmor:unconfined
