services:
  webhook:
    container_name: ${CONTAINER_HOSTNAME}
    image: ${WEBHOOK_IMAGE}
    hostname: ${CONTAINER_HOSTNAME}
    domainname: ${CONTAINER_DOMAIN_NAME}
    ports:
      - "${WEBHOOK_PORT:-9000}:${WEBHOOK_PORT:-9000}"
    networks:
      docker_network:
        ipv4_address: ${IP_ADDRESS:-}
    volumes:
      - type: bind
        source: ${WEBHOOK_VOLUME}
        target: /usr/local/etc/webhook
        bind:
          propagation: rprivate
    environment:
      AZURE_CLIENT_SECRET: ${AZURE_CLIENT_SECRET:-}
      WEBHOOK_PORT: ${WEBHOOK_PORT:-9000}
      PUID: ${WEBHOOK_PUID:-}
      PGID: ${WEBHOOK_PGID:-}
    healthcheck:
      test: ["CMD", "bash", "-c", "WEBHOOK_PORT=${WEBHOOK_PORT:-9000} /usr/local/bin/Test-WebhookHealth"]
      interval: 60s
      retries: 5
      start_period: 1s
      timeout: 2s
    logging:
      driver: json-file
      options:
        max-size: "10mb"
        max-file: "1"
    security_opt:
      - apparmor:unconfined
    restart: always
networks:
  docker_network:
    external: true
    name: ${NETWORK_NAME}
